streamlit
PIL
io
google_auth_oauthlib.flow
googleapiclient.discovery
googleapiclient.errors
googleapiclient.http
logging
typing
requests
tqdm
pillow
torch
open_clip_torch
clip
faiss-cpu 
git+https://github.com/openai/CLIP.git
pandas